.container {
    width: 960px;
    background: chocolate;
    margin: 0 auto
}
nav li {
    display: inline-block;
    list-style: none;
    padding: 20px;
    border: 1px dashed darkcyan
}
.article {
    height: 500px;
    border: 2px dotted darkslateblue;
    margin: 20px
}
.article-absolute {
    position: absolute;
    background-color: deeppink;
    top:0;right:0;left:0;
    margin:0;
    height: auto
}
.position-fixed {
    position: fixed;
    top: 0
}
.article-relative {
    position: relative;
    bottom: 0;
    background-color: red;
}
.btn-absolute {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.article-sticky {
    position: sticky;
    bottom: 0;
    background-color: red;
}
